<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %> 
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navBar.ejs') %>
    <section class="bx-login">
        <form class="form-login" action="/&0@%&&" method="post">
            <h1>Bienvenido</h1>
            <div class="form__group field">
                <input required="" placeholder="Name" class="form__field" type="input" name="user_loggin" id="user_loggin">
                <label class="form__label" for="name">Usuario</label>
            </div>
            <div class="form__group field">
                <input required="" placeholder="Name" class="form__field" type="password" name="pass_loggin" id="pass_loggin">
                <label class="form__label" for="name">Contraseña</label>
            </div>
            <!-- <a class="btn-send" dir="btnLoggin" href="/&0@%&&">Enviar</a> -->
            <button type="submit" id="btn_loggin" class="btn-send">Ingresar</button>
        </form>
    </section>
</body>
</html>