<div class="estado__grid--titulo">Cédula empleado</div>
<div class="estado__grid--titulo">Nombre Empleado</div>
<div class="estado__grid--titulo">Nombre del referido</div>
<div class="estado__grid--titulo">Campaña de interés</div>
<div class="estado__grid--titulo">HV</div>
<div class="estado__grid--titulo">Estado</div>