<nav class="navbar">
    <figure class="navbar__box-img">
        <img src="/img/logo-atento.png" alt="logo">
    </figure>
    <ul class="navbar__ul">
        <li class="navbar__li">
            <a href="/" class="navbar__li--a"><i class="fa-solid fa-house-user"></i> Inicio</a>
        </li>
        <li class="navbar__li">
            <a href="/referir" class="navbar__li--a"><i class="fa-solid fa-user-group"></i> Referir</a>
        </li>
        <li class="navbar__li">
            <a href="/estado" class="navbar__li--a"><i class="fa-solid fa-satellite-dish"></i> Estado</a>
        </li>
        <li class="navbar__li navbar__li--block">
            <a href="/estado" class="navbar__li--a">Base</a>
        </li>       
        <li class="navbar__li">
            <a href="/login" class="navbar__li--a navbar__li--login"><i class="fa-solid fa-lock"></i> Acceso Administración</a>
        </li>               
    </ul>
</nav>