<nav class="navbar">
    <figure class="navbar__box-img">
        <img src="/img/logo-atento.png" alt="logo">
    </figure>
    <ul class="navbar__ul">
        <li class="navbar__li">
            <a href="/" class="navbar__li--a">Inicio</a>
        </li>
        <li class="navbar__li">
            <a href="/referir" class="navbar__li--a">Referir</a>
        </li>
        <li class="navbar__li">
            <a href="/estado" class="navbar__li--a">Estado</a>
        </li>        
        <li class="navbar__li">
            <a href="/login" class="navbar__li--a navbar__li--login">Acceso Administración</a>
        </li>               
    </ul>
</nav>